kestra/flows/dental/recall-reminder.yml
id: recall-reminder
namespace: dental
description: >
  Polls Open Dental for patients with overdue recalls (due date passed,
  no future appointment scheduled). Sends SMS reminder, waits 3 days,
  then sends email follow-up if the patient still hasn't scheduled.

labels:
  workflow-type: recall-reminder

triggers:
  - id: poll_overdue_recalls
    type: io.kestra.plugin.jdbc.mysql.Trigger
    url: "{{ kv('opendental_jdbc_url') }}"
    username: "{{ kv('opendental_db_user') }}"
    password: "{{ secret('OPENDENTAL_DB_PASSWORD') }}"
    sql: |
      SELECT
        p.PatNum,
        p.FName,
        p.LName,
        p.Email,
        p.WirelessPhone,
        p.HmPhone,
        r.DateDue,
        r.RecallNum,
        r.RecallTypeNum
      FROM recall r
      JOIN patient p ON p.PatNum = r.PatNum
      LEFT JOIN appointment a
        ON a.PatNum = p.PatNum
        AND a.AptStatus = 1
        AND a.AptDateTime > NOW()
      WHERE r.DateDue < CURDATE()
        AND r.IsDisabled = 0
        AND p.PatStatus = 0
        AND a.AptNum IS NULL
      ORDER BY r.DateDue ASC
      LIMIT 100
    interval: PT5M
    fetchType: FETCH_ONE

tasks:
  - id: check_dedup
    type: io.kestra.plugin.jdbc.mysql.Query
    url: "{{ kv('opendental_jdbc_url') }}"
    username: "{{ kv('opendental_db_user') }}"
    password: "{{ secret('OPENDENTAL_DB_PASSWORD') }}"
    sql: |
      SELECT COUNT(*) as cnt
      FROM dental_automation_log
      WHERE patient_id = {{ trigger.row.PatNum }}
        AND workflow_type = 'recall_reminder'
        AND created_at > DATE_SUB(NOW(), INTERVAL 30 DAY)
    fetchType: FETCH_ONE

  - id: process_if_new
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_dedup.row.cnt == 0 }}"
    then:
      - id: route_by_contact_method
        type: io.kestra.plugin.core.flow.Switch
        value: "{{ trigger.row.WirelessPhone != null and trigger.row.WirelessPhone != '' }}"
        cases:
          "true":
            # Has mobile phone — send SMS first, then email follow-up
            - id: send_sms_reminder
              type: io.kestra.plugin.core.http.Request
              uri: "https://api.twilio.com/2010-04-01/Accounts/{{ kv('twilio_sid') }}/Messages.json"
              method: POST
              headers:
                Content-Type: application/x-www-form-urlencoded
              basicAuthUser: "{{ kv('twilio_sid') }}"
              basicAuthPassword: "{{ secret('TWILIO_AUTH_TOKEN') }}"
              body: >
                To={{ trigger.row.WirelessPhone }}&From={{ kv('twilio_from_number') }}&Body=Hi {{ trigger.row.FName }}, this is {{ kv('clinic_name') }}. Our records show you're due for a dental visit. Please call us at {{ kv('clinic_phone') }} to schedule. Reply STOP to opt out.

            - id: log_sms_sent
              type: io.kestra.plugin.jdbc.mysql.Query
              url: "{{ kv('opendental_jdbc_url') }}"
              username: "{{ kv('opendental_db_user') }}"
              password: "{{ secret('OPENDENTAL_DB_PASSWORD') }}"
              sql: |
                INSERT INTO dental_automation_log
                  (patient_id, workflow_type, channel, status, metadata_json, created_at)
                VALUES
                  ({{ trigger.row.PatNum }}, 'recall_reminder', 'sms', 'sent',
                   '{"RecallNum":{{ trigger.row.RecallNum }}}', NOW())

            - id: wait_3_days
              type: io.kestra.plugin.core.flow.Pause
              delay: P3D

            - id: recheck_appointment
              type: io.kestra.plugin.jdbc.mysql.Query
              url: "{{ kv('opendental_jdbc_url') }}"
              username: "{{ kv('opendental_db_user') }}"
              password: "{{ secret('OPENDENTAL_DB_PASSWORD') }}"
              sql: |
                SELECT COUNT(*) as has_appt
                FROM appointment
                WHERE PatNum = {{ trigger.row.PatNum }}
                  AND AptStatus = 1
                  AND AptDateTime > NOW()
              fetchType: FETCH_ONE

            - id: email_followup_if_needed
              type: io.kestra.plugin.core.flow.If
              condition: "{{ outputs.recheck_appointment.row.has_appt == 0 and trigger.row.Email != null and trigger.row.Email != '' }}"
              then:
                - id: send_email_followup
                  type: io.kestra.plugin.notifications.mail.MailSend
                  host: "{{ kv('smtp_host') }}"
                  port: "{{ kv('smtp_port') }}"
                  username: "{{ kv('smtp_username') }}"
                  password: "{{ secret('SMTP_PASSWORD') }}"
                  from: "{{ kv('smtp_from') }}"
                  to:
                    - "{{ trigger.row.Email }}"
                  subject: "{{ trigger.row.FName }}, it's time for your dental checkup"
                  htmlTextContent: |
                    <h2>Hi {{ trigger.row.FName }},</h2>
                    <p>We noticed you're overdue for your dental visit at {{ kv('clinic_name') }}.
                    Regular checkups are important for maintaining your oral health.</p>
                    <p>Please call us at <strong>{{ kv('clinic_phone') }}</strong> to schedule
                    your appointment at your earliest convenience.</p>
                    <p>Best regards,<br/>{{ kv('clinic_name') }}</p>

                - id: log_email_sent
                  type: io.kestra.plugin.jdbc.mysql.Query
                  url: "{{ kv('opendental_jdbc_url') }}"
                  username: "{{ kv('opendental_db_user') }}"
                  password: "{{ secret('OPENDENTAL_DB_PASSWORD') }}"
                  sql: |
                    INSERT INTO dental_automation_log
                      (patient_id, workflow_type, channel, status, metadata_json, created_at)
                    VALUES
                      ({{ trigger.row.PatNum }}, 'recall_reminder', 'email', 'sent',
                       '{"RecallNum":{{ trigger.row.RecallNum }}}', NOW())

          "false":
            # No mobile phone — email only
            - id: send_email_primary
              type: io.kestra.plugin.core.flow.If
              condition: "{{ trigger.row.Email != null and trigger.row.Email != '' }}"
              then:
                - id: send_email_direct
                  type: io.kestra.plugin.notifications.mail.MailSend
                  host: "{{ kv('smtp_host') }}"
                  port: "{{ kv('smtp_port') }}"
                  username: "{{ kv('smtp_username') }}"
                  password: "{{ secret('SMTP_PASSWORD') }}"
                  from: "{{ kv('smtp_from') }}"
                  to:
                    - "{{ trigger.row.Email }}"
                  subject: "{{ trigger.row.FName }}, it's time for your dental checkup"
                  htmlTextContent: |
                    <h2>Hi {{ trigger.row.FName }},</h2>
                    <p>We noticed you're overdue for your dental visit at {{ kv('clinic_name') }}.
                    Please call us at <strong>{{ kv('clinic_phone') }}</strong> to schedule.</p>
                    <p>Best regards,<br/>{{ kv('clinic_name') }}</p>

                - id: log_email_primary_sent
                  type: io.kestra.plugin.jdbc.mysql.Query
                  url: "{{ kv('opendental_jdbc_url') }}"
                  username: "{{ kv('opendental_db_user') }}"
                  password: "{{ secret('OPENDENTAL_DB_PASSWORD') }}"
                  sql: |
                    INSERT INTO dental_automation_log
                      (patient_id, workflow_type, channel, status, metadata_json, created_at)
                    VALUES
                      ({{ trigger.row.PatNum }}, 'recall_reminder', 'email', 'sent',
                       '{"RecallNum":{{ trigger.row.RecallNum }}}', NOW())
